.btn {
    transition: all .2s ease-in-out
}

    .btn:hover {
        box-shadow: 2px 2px 7px 0px rgba(167,167,167,.6705882353) !important;
        transform: translateY(-2px)
    }

.btn-primary {
    background: linear-gradient(90deg, #2c3572 3%, #0a2c48 96%);
    border-color: rgba(0,0,0,0) !important;
    color: #fff !important;
    transition: all .2s ease-in-out;
    border-radius: 30px
}

    .btn-primary:hover {
        box-shadow: 2px 2px 7px 0px rgba(167,167,167,.6705882353) !important;
        transform: translateY(-2px)
    }

.main-menu.menu-light .navigation > li ul .active {
    background: linear-gradient(90deg, #2c3572 3%, #0a2c48 96%);
    border-radius: 30px
}

.main-menu.menu-light .navigation > li.active > a {
    background: linear-gradient(90deg, #2c3572 3%, #0a2c48 96%);
    box-shadow: 2px 2px 7px 0px rgba(167,167,167,.6705882353) !important;
    border-radius: 30px
}

.form-control {
    border-radius: 30px
}

.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px
}

    .input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):focus {
        border-color: #041b2e !important
    }

.input-group {
    border-radius: 30px
}

.input-group-merge:focus {
    border-color: #041b2e !important
}

.input-group-text:focus {
    border-color: #041b2e !important
}

.input-group:not(.bootstrap-touchspin):focus-within .form-control {
    border-color: #041b2e;
    box-shadow: none
}

.input-group:not(.bootstrap-touchspin):focus-within .input-group-text {
    border-color: #282828;
    box-shadow: none
}

.input-group:not(.bootstrap-touchspin):focus-within {
    box-shadow: none;
    border-radius: .357rem
}

.form-check-input:checked {
    background-color: #041b2e !important;
    border-color: #041b2e !important
}

.form-check-input:not(:disabled):checked {
    box-shadow: 2px 2px 7px 0px #dbdcdd !important
}

.form-check-input:focus {
    border-color: #041726 !important;
    outline: 0;
    box-shadow: 2px 2px 7px 0px #dbdcdd !important
}

.email-application .content-area-wrapper .sidebar .list-group .list-group-item.active {
    border-color: #041726 !important
}

.email-application .content-area-wrapper .sidebar .list-group .list-group-item.active {
    background: rgba(0,0,0,0);
    color: #041726
}

.badge.badge-light-primary {
    background-color: rgba(12,9,44,.12);
    color: #041726 !important
}

.email-application .content-area-wrapper .sidebar .list-group .list-group-item:hover {
    color: #041726 !important
}

.header-navbar .navbar-container ul.navbar-nav li svg.ficon:hover {
    color: #041726
}

.chat-application .sidebar-content .chat-list-title {
    color: #041726
}

.todo-application .content-area-wrapper .sidebar .todo-sidebar .todo-app-menu .list-group .list-group-item.active {
    background: rgba(0,0,0,0);
    color: #041726
}

.todo-application .content-area-wrapper .sidebar .todo-sidebar .todo-app-menu .list-group .list-group-item:hover {
    color: #041726
}

.btn-outline-danger {
    border-radius: 30px
}

.btn-outline-secondary {
    border-radius: 30px
}

.todo-application .content-area-wrapper .sidebar .todo-sidebar .todo-app-menu .list-group .list-group-item:focus {
    color: #041726
}

.modal-body .form-control:focus {
    border-color: #041726
}

.select2-container--default .select2-selection--single {
    border-radius: 30px
}

.select2-container--classic .select2-selection--multiple, .select2-container--default .select2-selection--multiple {
    border-radius: 30px
}

.ql-container + .ql-toolbar {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px
}

.ql-container {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #041726 !important
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #041726 !important;
    border-color: #041726 !important
}

.main-menu.menu-light .navigation > li ul .active {
    box-shadow: 2px 2px 7px 0px rgba(167,167,167,.6705882353) !important
}

.select2-container--default.select2-container--open .select2-selection--single {
    border-color: #041726 !important
}

.select2-container--default .select2-results__option--highlighted {
    background-color: rgba(62,61,77,.12) !important;
    color: #041726 !important
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #041726 !important
}

.select2-container--default .select2-selection--single:focus {
    border-color: #041726 !important
}

.bg-primary {
    background-color: #041726 !important
}

.fc .fc-toolbar .fc-button-group .fc-button-primary:not(.fc-prev-button):not(.fc-next-button).fc-button-active {
    background-color: #eee !important;
    border-color: #041726 !important;
    color: #041726
}

.fc .fc-toolbar .fc-button-group .fc-button-primary:not(.fc-prev-button):not(.fc-next-button):hover {
    background-color: #eee !important;
    border-color: #041726 !important;
    color: #041726
}

.form-select {
    border-radius: 30px
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px
}

.btn-check:checked + .btn-outline-primary {
    background-color: #eee !important
}

    .btn-check:checked + .btn-outline-primary:focus {
        box-shadow: 2px 2px 7px 0px rgba(167,167,167,.6705882353) !important
    }

.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px
}

.ecommerce-application .ecommerce-searchbar .input-group {
    box-shadow: none
}

.btn-outline-primary.show.dropdown-toggle {
    background-color: #eee;
    color: #041726
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):focus {
    background-color: #eee
}

.btn-outline-primary.dropdown-toggle.show:focus {
    box-shadow: none
}

.ratings-list a:hover {
    color: #041726
}

.btn-outline-primary {
    border-radius: 30px !important
}

    .btn-outline-primary:hover {
        background-color: #eee
    }

.btn-success {
    border-radius: 30px
}

.btn-light {
    border-radius: 30px
}

.main-menu .navbar-header .navbar-brand .brand-text {
    color: #2c3572 !important
}

.text-primary {
    color: #2c3572 !important
}

.nav-pills .nav-link.active {
    background: linear-gradient(90deg, #2c3572 3%, #0a2c48 96%)
}

.progress-bar {
    background: linear-gradient(90deg, #2c3572 3%, #0a2c48 96%)
}

.select2-container--default.select2-container--open {
    box-shadow: none
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background: linear-gradient(90deg, #2c3572 3%, #0a2c48 96%)
}

.bs-stepper .bs-stepper-header .step.active .step-trigger .bs-stepper-box {
    background: linear-gradient(90deg, #2c3572 3%, #0a2c48 96%)
}

.dropdown-item:active {
    background: linear-gradient(90deg, #2c3572 3%, #0a2c48 96%)
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px
}

.nav.nav-left .nav-item .nav-link {
    border-radius: 30px
}
/*# sourceMappingURL=style.css.map */
.btn-warning {
    border-radius: 30px
}
.form-control {
    border: 1px solid #2c3572;
}

.select2-container--classic .select2-selection--single, .select2-container--default .select2-selection--single {
    border: 1px solid #2c3572;
}

.btn-outline-secondary {
    border: 1px solid #2c3572 !important;
}

.form-select {
    border: 1px solid #2c3572;
}

.form-label {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

@media screen and (max-width: 767px) {
    div.dataTables_wrapper div.dataTables_filter {
        text-align: center;
    }
}

.horizontal-menu .header-navbar.navbar-horizontal ul#main-menu-navigation > li.active > a {
    background: -webkit-linear-gradient( 208deg, #041726, #2c3572 );
    background: linear-gradient(-118deg, #041726, #2c3572);
    box-shadow: 0 0 6px 1px rgba(115, 103, 240, 0.6);
    color: #ffffff;
    border-radius: 4px;
}

/*File*/
.file-wrapper{
	box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}
.file-wrapper .header-form{
	background-color: rgb(244, 244, 244);
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
    display: flex;
    position: relative;
    text-align: center;
    transition-duration: 300ms;
    transition-property: background-color, padding;
    width: 100%;
}
.file-wrapper .header-form .label-form{
	background-image: url(https://hihello.me/images/avatar-background.svg);
    background-position: 25% 100%;
    background-repeat: no-repeat;
    background-size: auto 75%;
    border-radius: 0px;
    flex: 1 1 0%;
    padding-bottom: 90%;
    padding-top: 10%;
    cursor: pointer;
}
.file-wrapper .header-form .label-form .button-label{
	color: rgba(0, 0, 0, 0.38);
    text-transform: none;
}
.file-wrapper .header-form .label-form .upload-input-app{
	display: none;
}
.card-wave-app{
	bottom: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.logo-btn{
	background-color: rgb(244, 244, 244);
	bottom: 0px;
    height: 58px;
    min-width: 0px;
    padding: 0px;
    position: absolute;
    right: 30px;
    width: 58px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-btn .mdc-button__label{
    overflow: hidden;
	border-radius: 4px;
}
.upload-input-app{
	display: none;
}
.colors-form{
	cursor: grab;
	display: flex;
	overflow-x: auto;
	height: 5rem;
	align-items: center;
    margin: 10px 10px;
}
.colors-form .color-wrapper{
	margin: 0 14px;
}
.colors-form .color-wrapper .color-input{
    border-radius: 100%;
    cursor: pointer;
    height: 1.25rem;
    transition-duration: 300ms;
    transition-property: box-shadow, transform;
    width: 1.25rem;
    transform: scale(1.5);
}
.colors-form .color-wrapper .color-input:hover{
    box-shadow: rgb(255 255 255) 0px 0px 0px 2px, rgb(0 0 0 / 38%) 0px 0px 0px 3px;
}
.colors-form .color-wrapper .color-input:focus{
    box-shadow: rgb(255 255 255) 0px 0px 0px 2px, rgb(0 0 0 / 38%) 0px 0px 0px 3px;
}
.colors-form .color-wrapper .color-input.purple{
    background-color: rgb(143, 96, 222);
 }
 .colors-form .color-wrapper .color-input.blue{
    background-color: rgb(58, 89, 174);
 }
 .colors-form .color-wrapper .color-input.light-blue{
    background-color: rgb(98, 138, 248);
 }
 .colors-form .color-wrapper .color-input.light-green{
    background-color: rgb(109, 211, 199);
 }
 .colors-form .color-wrapper .color-input.green{
    background-color: rgb(59, 181, 93);
 }
 .colors-form .color-wrapper .color-input.yellow{
    background-color: rgb(255, 198, 49);
 }
 .colors-form .color-wrapper .color-input.orange{
    background-color: rgb(255, 140, 57);
 }
 .colors-form .color-wrapper .color-input.red{
    background-color: rgb(234, 58, 46);
 }
 .colors-form .color-wrapper .color-input.pink{
    background-color: rgb(238, 133, 221);
 }
 .colors-form .color-wrapper .color-input.black{
    background-color: rgb(74, 74, 74);
 }
 .accordion-header{
    border-bottom: 1px solid #E2E8F0;
}
.form-body-title{
   color: #000 !important;
}
.accordion-collapse .form-control{
    border-bottom: 1px solid #d8d6de;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0 !important;
}
.accordion-collapse .accordion-body{
    padding: 1rem 1.5rem;
 }
 .forms-label{
	padding: 1rem;
}
.head{
	color: #005976;
}
.form-btn{
	background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
    border-top: 2px solid rgb(233, 233, 233);
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    padding: 0 1rem;
    position: sticky;
    z-index: 2;
}
.body-form{
    max-height: 500px;
	overflow-y: auto;
	position: relative;
}
.icons-wrapper{
	display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    padding: 1rem;
    background-color:rgba(0,89,118,.1);
    border-radius: 0.625rem;
    color: #000;
    max-height: 662px;
	overflow-y: auto;
}
.icons-wrapper .icons-title{
	grid-column: 1 / -1;
    padding-left: 1rem;
    font-size: 20px;
}
.icons-wrapper .field-icon{
	align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
}
.icons-wrapper svg{
	color: #000;
	font-size: 25px;
}