<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="/tmp/internal-nlog-AspNetCore.txt">

	<!-- the targets to write to -->
	<targets>
		<target xsi:type="Database"
      name="dbTarget"
      connectionString="Server=tcp:juwana-server.database.windows.net,1433;Initial Catalog=Juwana-DB;Persist Security Info=False;User ID=juwana-admin;Password=DMW5Pgmz;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
      commandText="INSERT INTO Logs(CreatedAt,Details,Level,StackTrace,Logger) VALUES (@datetime,@details,@level,@trace,@logger)">
			<parameter name="@datetime" layout="${date}" />
			<parameter name="@details" layout="${message}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@trace" layout="${stacktrace}" />
			<parameter name="@logger" layout="${logger}" />
		</target>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*" minlevel="Trace" writeTo="dbTarget" />
	</rules>
</nlog>