@model PostReactionDto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.emptyLayout = true;
    
}

<div class="card">
    <div class="card-body">
        <div class="info-container">
            <div class="row">
                
                 <div class="divider"><div class="divider-text"><i data-feather="check"></i></div></div>
                <div class="col-xl-6 col-12">
                    <dl class="row mb-0">
                        @* <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.Content):</dt> *@
                        @* <dd class="col-sm-8 mb-1">@Model.Content</dd> *@
                    </dl>
                </div>

                <div class="col-xl-6 col-12">
                    <dl class="row mb-0">
                        @* <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.PostType):</dt> *@
                        @* <dd class="col-sm-8 mb-1">@Model.PostType.Name</dd> *@
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
